.pagination {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.pagination .page-num:hover {
  background-color: rgb(36, 172, 172);
  color: white;
}

.pagination .active {
  background-color: rgb(36, 172, 172);
  color: white;
}
